<body>
    <p>Hi {{ username }} 👋,
    <br><br>
    Thank you for signing up!
    <br>
    To complete your registration, please verify your email address by clicking the link below:
    </p>
    
    <a href="{{ verification_url }}" style="color: #25b354;background-color: #d2f9df;font-size: 18px;padding: .5em 1em;border-radius: .45em;margin: 1em 0;display: block;width: fit-content;">
        Verify Account
    </a>

    <p>
        If the link doesn't work, please copy and paste the following URL into your web browser:
        <br>
        If you did not create an account with us, please ignore this email

    
    <br>
    Powered by FastShip</p>
</body>